@mixin hide-text {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
@mixin position-center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
@mixin align-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin nav-hover {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    margin: 5px 0;
    background-color: $white;
    transition: width .5s;
}
/* @mixin clearfix {
     &:after {
         content: "";
         display: table;
         clear:both;
    }
 } */
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
// @mixin text($size,$color) {
//     font-size: $size;
//     color: $color;
//     line-height: 1.5;
// }

@mixin desktop {
    @media(max-width:992px){
        @content
    }
}
@mixin pad {
    @media(max-width:768px){
        @content
    }
}
@mixin mobile {
    @media(max-width:767px){
        @content
    }
}
@mixin smobile {
    @media(max-width:569px){
        @content
    }
}
@mixin minmobile {
    @media(max-width:320px){
        @content
    }
}


