$space: 8px;

// margin-right
@each $key in 1,2,3,4,6,8,11 {
    .mr-#{$key} {
        margin-right: $space*$key
    }
}
$mr-space: (  
    // key, value
    '12': 12px,
    '20': 20px,
    '30': 30px,
    '38': 38px,
);
@each $key, $value in $mr-space {
    .mr-#{$key} {
        margin-right: $value;
    }
}

// margin-bottom
@each $key in 2,3,4,5,8,10 { 
    .mb-#{$key} {
        margin-bottom: $space*$key
    }
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-60 {
    margin-bottom: 60px;
}
.ml-63 {
    margin-left: 63px;
}


// color
$primary:  #AA0601;
$secondary: #FBF2F2;
$danger:  #650300;
$dgray:  #212529;
$gray:#707070;
$light: #DEE2E6;
$dark: #000;
$white: #fff;
$info: #5F3E2D;
$warning: #B75929;
$themes: (
    'primary': $primary,   // 淺紅色 (字)
    'secondary': $secondary, // 背景粉
    'danger': $danger,    // 重紅色 (字)
    'dgray': $dgray,     // 重灰色 (字)
    'gray': $gray,      // 淺灰色 (字)
    'light': $light,     // 淡灰色 (border框)
    'dark': $dark,
    'white': $white,
    'info': $info,      // 重咖啡色 (標籤)
    'warning': $warning,    // 淺咖啡色 (標籤)
);
@each $key, $value in $themes {
    .bg-#{$key} {
        background-color: $value;
    }
}
@each $key, $value in $themes {
    .text-#{$key} {
        color: $value !important;
    }
}

/*-------------------------------------*/

@each $key in 3,4,5,7,9 {
    .fw-#{$key} {
        font-weight: $key*100;
    }
}
.fw-0 {
	font-weight: normal;
}
.fw-b {
	font-weight: bolder;
}