.banner-faq {
    background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/qa.png') no-repeat;
    height: 304px;
    background-size: cover;
    background-position: center center;
    & .container {
        max-width: 992px;
        align-items: flex-end;
    }
    & .banner-faq-title {
        align-items: baseline;
        color: $dark;
    }
}
@include desktop {
    .banner-faq{
        margin-bottom: 40px;
        & .container {
            max-width: 768px;
            & .banner-faq-title {
                align-items: center;
            }
            & .h1 {
                font-size: 48px;
                line-height: 80px;
            }
            & img {
                width: 48px;
                height: 48px;
            }
        }
    }
}
@include mobile {
    .banner-faq {
        height: 143px;
        margin-bottom: 24px;
        & .container {
            max-width: 569px;
            padding: 0 3%;
            & .h1 {
                font-size: 28px;
                line-height: 1.5;
                margin-right: 8px;
            }
            & img {
                width: 24px;
                height: 24px;
            }
        }
    }
}

/*-------------------------*/   
.faq {
    margin-bottom: 264px;
    & .container {
        max-width: 992px;
        & .faq-ans {
            padding-left: 95px;
        }
    }
}
@include desktop {
    .faq {
        margin-bottom: 104px;
        & .container {
            max-width: 768px;
        }
    }
}
@include mobile {
    .faq {
        margin-bottom: 56px;
        & .container {
            max-width: 569px;
            padding: 0 3%;
            & li {
                margin-bottom: 4px;
            }
            & .h3 {
                font-size: 20px;
                margin-bottom: 0;
            }
            & .faq-qus {
                font-size: 16px;
                margin-bottom: 8px;
            }
            & .faq-ans {
                font-size: 14px;
                line-height: 1.5;
                padding-left: 0px;
                margin-bottom: 16px;
            }
        }
    }
}