@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 24px;
}

.mr-4 {
  margin-right: 32px;
}

.mr-6 {
  margin-right: 48px;
}

.mr-8 {
  margin-right: 64px;
}

.mr-11 {
  margin-right: 88px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-38 {
  margin-right: 38px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mb-8 {
  margin-bottom: 64px;
}

.mb-10 {
  margin-bottom: 80px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-60 {
  margin-bottom: 60px;
}

.ml-63 {
  margin-left: 63px;
}

.bg-primary {
  background-color: #AA0601;
}

.bg-secondary {
  background-color: #FBF2F2;
}

.bg-danger {
  background-color: #650300;
}

.bg-dgray {
  background-color: #212529;
}

.bg-gray {
  background-color: #707070;
}

.bg-light {
  background-color: #DEE2E6;
}

.bg-dark {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}

.bg-info {
  background-color: #5F3E2D;
}

.bg-warning {
  background-color: #B75929;
}

.text-primary {
  color: #AA0601;
}

.text-secondary {
  color: #FBF2F2;
}

.text-danger {
  color: #650300;
}

.text-dgray {
  color: #212529;
}

.text-gray {
  color: #707070;
}

.text-light {
  color: #DEE2E6;
}

.text-dark {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-info {
  color: #5F3E2D;
}

.text-warning {
  color: #B75929;
}

/*-------------------------------------*/
.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-7 {
  font-weight: 700;
}

.fw-9 {
  font-weight: 900;
}

.fw-0 {
  font-weight: normal;
}

.fw-b {
  font-weight: bolder;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----加註其他條件-----*/
*, *:befor, *:after {
  box-sizing: border-box;
}

img {
  display: block;
  /* 去除圖片底下的2-3px空白 */
  /*vertical-align: middle;  也是去除圖片底下的2-3px空白 */
  max-width: 100%;
  /* 使之貼其父元素，才不會有圖片過大情況發生 */
  height: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI", Roboto, "Noto Sans TC", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.2;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

/*-----加註其他條件-----*/
h1, .h1 {
  font-size: 4rem;
  line-height: 96px;
}

h2, .h2 {
  font-size: 3rem;
  line-height: 72px;
}

h3, .h3 {
  font-size: 2.25rem;
  line-height: 54px;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
  line-height: 30px;
}

h6, .h6 {
  font-size: 1rem;
  line-height: 24px;
}

.text-s {
  font-size: 0.875rem;
  line-height: 21px;
}

/*--------------------------------*/
.text-center {
  text-align: center;
}

.font-italic {
  font-style: italic;
}

/*--------------------------------*/
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

/*--------------------------------*/
.mx-0 {
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.py-40 {
  padding: 48px 0 40px;
}

.py-64 {
  padding: 64px 0;
}

.py-68 {
  padding: 64px 0 80px;
}

.pxy-15 {
  padding: 15px 16px;
}

/*!
Pure v2.0.3
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/pure-css/pure/blob/master/LICENSE.md
*/
.pure-form input[type=color], .pure-form input[type=date], .pure-form input[type=datetime-local], .pure-form input[type=datetime], .pure-form input[type=email], .pure-form input[type=month], .pure-form input[type=number], .pure-form input[type=password], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=text], .pure-form input[type=time], .pure-form input[type=url], .pure-form input[type=week], .pure-form select, .pure-form textarea {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

.pure-form input:not([type]) {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.pure-form input[type=color] {
  padding: .2em .5em;
}

.pure-form input[type=color]:focus, .pure-form input[type=date]:focus, .pure-form input[type=datetime-local]:focus, .pure-form input[type=datetime]:focus, .pure-form input[type=email]:focus, .pure-form input[type=month]:focus, .pure-form input[type=number]:focus, .pure-form input[type=password]:focus, .pure-form input[type=search]:focus, .pure-form input[type=tel]:focus, .pure-form input[type=text]:focus, .pure-form input[type=time]:focus, .pure-form input[type=url]:focus, .pure-form input[type=week]:focus, .pure-form select:focus, .pure-form textarea:focus {
  outline: 0;
  border-color: #129fea;
}

.pure-form input:not([type]):focus {
  outline: 0;
  border-color: #129fea;
}

.pure-form input[type=checkbox]:focus, .pure-form input[type=file]:focus, .pure-form input[type=radio]:focus {
  outline: thin solid #129fea;
  outline: 1px auto #129fea;
}

.pure-form .pure-checkbox, .pure-form .pure-radio {
  margin: .5em 0;
  display: block;
}

.pure-form input[type=color][disabled], .pure-form input[type=date][disabled], .pure-form input[type=datetime-local][disabled], .pure-form input[type=datetime][disabled], .pure-form input[type=email][disabled], .pure-form input[type=month][disabled], .pure-form input[type=number][disabled], .pure-form input[type=password][disabled], .pure-form input[type=search][disabled], .pure-form input[type=tel][disabled], .pure-form input[type=text][disabled], .pure-form input[type=time][disabled], .pure-form input[type=url][disabled], .pure-form input[type=week][disabled], .pure-form select[disabled], .pure-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.pure-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.pure-form input[readonly], .pure-form select[readonly], .pure-form textarea[readonly] {
  background-color: #eee;
  color: #777;
  border-color: #ccc;
}

.pure-form input:focus:invalid, .pure-form select:focus:invalid, .pure-form textarea:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}

.pure-form input[type=checkbox]:focus:invalid:focus, .pure-form input[type=file]:focus:invalid:focus, .pure-form input[type=radio]:focus:invalid:focus {
  outline-color: #e9322d;
}

.pure-form select {
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: #fff;
}

.pure-form select[multiple] {
  height: auto;
}

.pure-form label {
  margin: .5em 0 .2em;
}

.pure-form fieldset {
  margin: 0;
  padding: .35em 0 .75em;
  border: 0;
}

.pure-form legend {
  display: block;
  width: 100%;
  padding: .3em 0;
  margin-bottom: .3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.pure-form-stacked input[type=color], .pure-form-stacked input[type=date], .pure-form-stacked input[type=datetime-local], .pure-form-stacked input[type=datetime], .pure-form-stacked input[type=email], .pure-form-stacked input[type=file], .pure-form-stacked input[type=month], .pure-form-stacked input[type=number], .pure-form-stacked input[type=password], .pure-form-stacked input[type=search], .pure-form-stacked input[type=tel], .pure-form-stacked input[type=text], .pure-form-stacked input[type=time], .pure-form-stacked input[type=url], .pure-form-stacked input[type=week], .pure-form-stacked label, .pure-form-stacked select, .pure-form-stacked textarea {
  display: block;
  margin: .25em 0;
}

.pure-form-stacked input:not([type]) {
  display: block;
  margin: .25em 0;
}

.pure-form-aligned input, .pure-form-aligned select, .pure-form-aligned textarea, .pure-form-message-inline {
  display: inline-block;
  vertical-align: middle;
}

.pure-form-aligned textarea {
  vertical-align: top;
}

.pure-form-aligned .pure-control-group {
  margin-bottom: .5em;
}

.pure-form-aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}

.pure-form-aligned .pure-controls {
  margin: 1.5em 0 0 11em;
}

.pure-form .pure-input-rounded, .pure-form input.pure-input-rounded {
  border-radius: 2em;
  padding: .5em 1em;
}

.pure-form .pure-group fieldset {
  margin-bottom: 10px;
}

.pure-form .pure-group input, .pure-form .pure-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}

.pure-form .pure-group input:focus, .pure-form .pure-group textarea:focus {
  z-index: 3;
}

.pure-form .pure-group input:first-child, .pure-form .pure-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.pure-form .pure-group input:first-child:last-child, .pure-form .pure-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}

.pure-form .pure-group input:last-child, .pure-form .pure-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}

.pure-form .pure-group button {
  margin: .35em 0;
}

.pure-form .pure-input-1 {
  width: 100%;
}

.pure-form .pure-input-3-4 {
  width: 75%;
}

.pure-form .pure-input-2-3 {
  width: 66%;
}

.pure-form .pure-input-1-2 {
  width: 50%;
}

.pure-form .pure-input-1-3 {
  width: 33%;
}

.pure-form .pure-input-1-4 {
  width: 25%;
}

.pure-form-message-inline {
  display: inline-block;
  padding-left: .3em;
  color: #666;
  vertical-align: middle;
  font-size: .875em;
}

.pure-form-message {
  display: block;
  color: #666;
  font-size: .875em;
}

@media only screen and (max-width: 480px) {
  .pure-form button[type=submit] {
    margin: .7em 0 0;
  }
  .pure-form input:not([type]), .pure-form input[type=color], .pure-form input[type=date], .pure-form input[type=datetime-local], .pure-form input[type=datetime], .pure-form input[type=email], .pure-form input[type=month], .pure-form input[type=number], .pure-form input[type=password], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=text], .pure-form input[type=time], .pure-form input[type=url], .pure-form input[type=week], .pure-form label {
    margin-bottom: .3em;
    display: block;
  }
  .pure-group input:not([type]), .pure-group input[type=color], .pure-group input[type=date], .pure-group input[type=datetime-local], .pure-group input[type=datetime], .pure-group input[type=email], .pure-group input[type=month], .pure-group input[type=number], .pure-group input[type=password], .pure-group input[type=search], .pure-group input[type=tel], .pure-group input[type=text], .pure-group input[type=time], .pure-group input[type=url], .pure-group input[type=week] {
    margin-bottom: 0;
  }
  .pure-form-aligned .pure-control-group label {
    margin-bottom: .3em;
    text-align: left;
    display: block;
    width: 100%;
  }
  .pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 0;
  }
  .pure-form-message, .pure-form-message-inline {
    display: block;
    font-size: .75em;
    padding: .2em 0 .8em;
  }
}

/*!
Pure v2.0.3
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/pure-css/pure/blob/master/LICENSE.md
*/
.pure-button {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  box-sizing: border-box;
}

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.pure-button-group {
  letter-spacing: -.31em;
  text-rendering: optimizespeed;
}

.opera-only :-o-prefocus, .pure-button-group {
  word-spacing: -.43em;
}

.pure-button-group .pure-button {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: rgba(0, 0, 0, 0.8);
  border: none transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
}

.pure-button-hover, .pure-button:focus, .pure-button:hover {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.pure-button:focus {
  outline: 0;
}

.pure-button-active, .pure-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000;
}

.pure-button-disabled, .pure-button-disabled:active, .pure-button-disabled:focus, .pure-button-disabled:hover, .pure-button[disabled] {
  border: none;
  background-image: none;
  opacity: .4;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
}

.pure-button-hidden {
  display: none;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
  background-color: #0078e7;
  color: #fff;
}

.pure-button-group .pure-button {
  margin: 0;
  border-radius: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.pure-button-group .pure-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.pure-button-group .pure-button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: none;
}

.nav {
  padding: 0 88px;
}

.nav .logo a {
  background: url("https://hexschool.github.io/webLayoutTraining1st/week3/logo.png") no-repeat;
  width: 80px;
  height: 48.57px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.nav .navbar li a {
  padding: 39px 32px;
  height: 30px;
}

.nav .navbar li a:after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  margin: 5px 0;
  background-color: #fff;
  transition: width .5s;
}

.navbar li:hover a:after {
  width: 100%;
}

@media (max-width: 992px) {
  .nav {
    padding: 0 39px;
  }
}

@media (max-width: 767px) {
  .nav {
    flex-direction: column;
    padding: 0;
  }
  .nav .logo a {
    background: url("https://firebasestorage.googleapis.com/v0/b/tzuhui-10c1e.appspot.com/o/others%2F202004%2F1587551913424-logo-new_%E5%B7%A5%E4%BD%9C%E5%8D%80%E5%9F%9F%201.png?alt=media&token=7f7e11bb-8470-4bec-8b77-ebda26cb6a76");
    width: 48px;
    height: 30px;
    margin: 10px 0;
  }
  .nav .navbar {
    flex-wrap: wrap;
    width: 100%;
  }
  .nav .navbar li {
    width: 50%;
    outline: 2px solid #fff;
  }
  .nav .navbar li a {
    padding: 8px 0;
  }
  .nav .navbar li a:hover {
    background-color: #650300;
  }
  .navbar li:hover a:after {
    width: 0%;
  }
}

/*--------------------------------*/
.footer {
  background: #AA0601;
  padding: 30px 30px;
}

.footer-main {
  border-bottom: 3px solid #B75929;
  margin-bottom: 17px;
}

.footer-link a {
  padding: 0px 48px 48px 0px;
}

.footer-link a:hover {
  color: #000;
}

.footer-icon a:hover {
  opacity: .6;
}

.footer-about img {
  width: 44px;
  height: 44px;
}

.footer-about a {
  margin-bottom: 17px;
}

.footer-about a:hover p {
  color: #000;
}

.footer .footer-copy {
  width: 90%;
}

.footer .footer-copy-link a:hover {
  color: #000;
}

@media (max-width: 992px) {
  .footer-link a {
    padding: 0px 30px 30px 0px;
  }
  .footer .footer-copy {
    width: 85%;
  }
}

@media (max-width: 767px) {
  .footer .footer-icon img {
    width: 24px;
    height: 24px;
  }
  .footer .footer-icon li {
    margin-right: 10px;
  }
  .footer .footer-link .h5 {
    font-size: 16px;
  }
  .footer .footer-link a {
    padding: 0px 10px 10px 0px;
  }
  .footer .footer-about a {
    margin-bottom: 0px;
  }
  .footer .footer-about a img {
    width: 32px;
    height: 32px;
  }
  .footer .footer-about a p {
    font-size: 20px;
  }
  .footer .footer-copy {
    width: 100%;
  }
  .footer .footer-copy a {
    margin-right: 10px;
  }
  .footer .footer-logo {
    display: none;
  }
}

@media (max-width: 569px) {
  .footer .footer-contact .footer-link {
    display: none;
  }
  .footer .footer-contact .footer-about p {
    font-size: 16px;
    line-height: 20px;
  }
  .footer .footer-contact .footer-about a {
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .footer .footer-logo {
    display: block;
  }
  .footer .footer-logo img {
    width: 46px;
    height: 27.9px;
  }
  .footer .footer-copy {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .footer-copy p {
    margin-bottom: 10px;
  }
  .footer .footer-copy .footer-copy-link {
    flex-direction: column;
  }
  .footer .footer-copy .footer-copy-link a:first-child {
    margin-bottom: 10px;
  }
  .footer-detail {
    flex-direction: row-reverse;
    align-items: flex-end;
  }
}

.banner {
  background: url("https://hexschool.github.io/webLayoutTraining1st/week3/banner.png") no-repeat;
  height: 840px;
  background-position: center center;
  background-size: cover;
}

.banner .container {
  align-items: flex-end;
}

.banner .container .banner-title {
  font-size: 72px;
  line-height: 1.5;
}

@media (max-width: 1110px) {
  .banner .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .banner {
    background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true") no-repeat;
    height: 394px;
    background-position: center center;
    background-size: cover;
  }
  .banner .container {
    max-width: 569px;
  }
  .banner .container p {
    font-size: 20px;
    line-height: 30px;
  }
  .banner .container .banner-title {
    font-size: 48px;
    line-height: 72px;
  }
}

@media (max-width: 569px) {
  .banner .container {
    max-width: 320px;
  }
  .banner .container p {
    font-size: 16px;
    margin-left: 0;
  }
  .banner .container .banner-title {
    font-size: 32px;
  }
}

@media (max-width: 320px) {
  .banner .container {
    max-width: 240px;
  }
  .banner .container p {
    font-size: 14px;
  }
  .banner .container .banner-title {
    font-size: 26px;
    text-align: right;
  }
}

/*----------------------------------*/
.main {
  background: #FBF2F2;
}

.main .main-icon li {
  width: 18%;
}

.main .main-icon li h3 {
  margin-bottom: 5px;
  line-height: 33px;
}

@media (max-width: 992px) {
  .main .main-icon li {
    width: 22%;
  }
  .main .main-icon li h3 {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 30px 0;
  }
  .main .container {
    max-width: 569px;
  }
  .main .container h2 {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 32px;
  }
  .main .container .main-icon {
    flex-wrap: wrap;
  }
  .main .container .main-icon li {
    width: 40%;
    margin-bottom: 40px;
  }
  .main .container .main-icon li .main-pic {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .main .container h2 {
    font-size: 32px;
  }
}

@media (max-width: 569px) {
  .main .container {
    max-width: 345px;
  }
  .main .container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .main .container .main-icon li {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 375px) {
  .main .container {
    max-width: 300px;
  }
}

/*----------------------------------*/
.classic-pic {
  width: 65%;
}

.classic-icon {
  margin-right: 30px;
}

@media (max-width: 992px) {
  .classic-title {
    margin-bottom: 32px;
  }
  .classic .container {
    max-width: 768px;
  }
  .classic .container li .classic-pic {
    margin-right: 10px;
  }
  .classic .container li h3 {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .classic {
    padding: 30px 0;
  }
  .classic h2.classic-title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 10px;
  }
  .classic .container {
    max-width: 690px;
  }
  .classic .container li {
    margin-bottom: 8px;
  }
  .classic .container li h3 {
    font-size: 28px;
  }
  .classic .container li .classic-pic {
    margin-right: 30px;
  }
  .classic .container li .classic-icon {
    margin-right: 0px;
  }
  .classic .container .classic-sun {
    flex-direction: row;
  }
}

@media (max-width: 767px) {
  .classic h2.classic-title {
    font-size: 32px;
  }
}

@media (max-width: 690px) {
  .classic .container {
    max-width: 569px;
  }
  .classic .container li .classic-pic {
    width: 60%;
    margin-right: 10px;
  }
}

@media (max-width: 569px) {
  .classic {
    padding: 20px 0 32px;
  }
  .classic h2.classic-title {
    font-size: 24px;
    line-height: 48px;
  }
  .classic .container {
    max-width: 414px;
  }
  .classic .container li {
    position: relative;
    justify-content: center;
  }
  .classic .container li h3 {
    font-size: 28px;
  }
  .classic .container li .classic-pic {
    width: 100%;
    margin-right: 0;
  }
  .classic .container li .classic-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .classic-icon .text-primary {
    color: #fff;
  }
  .classic-icon img {
    width: 30%;
    filter: brightness(300);
  }
}

/*----------------------------------*/
.design {
  background: url("https://hexschool.github.io/webLayoutTraining1st/week3/bg.png") no-repeat;
  height: auto;
  background-size: cover;
}

.design .design-text {
  position: relative;
  width: 48%;
}

.design .design-text h3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*處理區塊元素置中*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*處理文字置中*/
  background: rgba(255, 255, 255, 0.5);
  font-size: 72px;
}

@media (max-width: 992px) {
  .design {
    padding: 40px 0;
  }
  .design .container {
    max-width: 768px;
  }
  .design h2 {
    margin-bottom: 32px;
  }
  .design .design-text h3 {
    font-size: 60px;
  }
}

@media (max-width: 767px) {
  .design {
    padding: 20px 0;
  }
  .design .container {
    max-width: 569px;
  }
  .design .container h2 {
    margin-bottom: 10px;
    font-size: 32px;
  }
  .design .container .design-text h3 {
    font-size: 44px;
  }
}

@media (max-width: 569px) {
  .design .container {
    padding: 0;
  }
  .design .container h2 {
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 0px;
    padding: 10px 0;
  }
  .design .container .design-pic {
    flex-direction: column;
    align-items: center;
  }
  .design .container .design-pic .design-text {
    margin-bottom: 16px;
    width: 90%;
  }
  .design .container .design-pic .design-text h3 {
    font-size: 46px;
  }
}

/*-------------------------------*/
.customer-data {
  width: 23%;
  border: 2px solid #DEE2E6;
}

.customer-data .h6, .customer-data p {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .customer {
    padding: 16px 0 0;
  }
  .customer .container {
    max-width: 569px;
  }
  .customer h2 {
    margin-bottom: 16px;
    font-size: 32px;
  }
  .customer ul {
    flex-wrap: wrap;
  }
  .customer .customer-data {
    width: 48%;
    margin-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .customer h2 {
    font-size: 32px;
  }
}

@media (max-width: 569px) {
  .customer h2 {
    font-size: 24px;
    margin-bottom: 0px;
  }
  .customer .container {
    max-width: 345px;
  }
  .customer ul {
    justify-content: center;
  }
  .customer .customer-data {
    width: 90%;
  }
}

/*-------------------------------*/
.contact {
  background: #FBF2F2;
}

.contact .contact-text {
  max-width: 67%;
}

.contact .contact-text .contact-form .pure-checkbox {
  line-height: 24px;
}

.contact .contact-text .pure-button:focus {
  background-color: #650300;
}

.contact .contact-text .pure-button:hover {
  background-color: #650300;
}

.pure-form-stacked input[type=text], .pure-form-stacked input[type=tel], .pure-form-stacked input[type=email] {
  margin-bottom: 16px;
  width: 100%;
  padding: 14px;
}

.pure-form-stacked textarea {
  height: 136px;
  padding: 14px;
}

input[type="checkbox"] {
  width: 5%;
}

.pure-form .pure-checkbox {
  margin: 16px 10px 42px;
}

.pure-button-primary {
  background: #AA0601;
  height: 54px;
  width: 50%;
  align-self: center;
}

.contact-form-checkbox {
  display: flex;
  flex-direction: row;
}

.contact-form-checkbox input {
  margin: 20px 0 42px;
}

@media (max-width: 767px) {
  .contact {
    padding: 10px 0;
  }
  .contact h2 {
    font-size: 32px;
    margin-bottom: 0;
  }
  .contact .contact-text {
    max-width: 70%;
  }
  .contact .contact-text p {
    margin-bottom: 12px;
    font-size: 16px;
  }
  .pure-form .pure-checkbox {
    margin: 16px 10px 16px;
    line-height: 1.5;
  }
  .pure-button-primary {
    width: 70%;
  }
  input[type="checkbox"] {
    width: 10%;
  }
}

@media (max-width: 569px) {
  .contact h2 {
    font-size: 24px;
  }
  .contact .contact-text {
    max-width: 95%;
  }
}
/*# sourceMappingURL=all.css.map */